* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.App{
  display: flex;
  width: 100vw;
  height: 100vh;
}

a{
    list-style: none;
    text-decoration: none;
}

.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.SideMenu{
  background: #cfe8cc;
  height: 100vh;
  width: 14vw;
}

.PageContent{
  padding-right: 10px;
}
  